input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
.calculator {
  box-shadow: 1px 3px 10px rgba(153, 152, 152, 0.514);
}
.calculator-header {
  padding: 5%;
}
.calculator-text {
  font-size: 120%;
}
.btn-calculator {
  padding: 0.5% 2.5%;
  background-color: rgb(36, 52, 100);
  color: white;
  border-radius: 10px;
  border: none;
  margin: 6% 1%;
  font-size: 120%;
  cursor: pointer;
}
.calculator-footer {
  font-size: 140%;
  padding: 1% 0% 10% 5%;
}
.calculator-footer span {
  font-weight: 700;
}
.dropdown-toggle {
  border: 2px solid black;
  border-radius: 10px;
}
.input {
  border: 2px solid black;
  border-radius: 10px;
  padding: 3%;
}
.input::placeholder {
  color: black;
}
.input:focus {
  outline: none;
}
.dropdown {
  border-radius: 10px;
  border: 2px solid;
}
@media screen and (max-width: 500px) {
  .dropdown-main {
    flex-direction: column;
    align-items: center;
  }
  .drop-item {
    margin: 2%;
    padding: 1%;
  }
  .calculator-footer {
    font-size: 120%;
  }
  .calculator-footer {
    margin: 5% 0% 10% 0%;
  }
}
