input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
.calculator {
  background-color: rgb(216, 215, 214);
}
.calculator-header {
  padding: 5%;
}

.calculator-text {
  font-size: 120%;
}
.btn {
  padding: 0.5% 2.5%;
  border: none;
  margin: 6% 1%;
  font-size: 120%;
  cursor: pointer;
}

.calculator-footer {
  font-size: 140%;
}
.calculator-footer span {
  font-weight: 700;
}

.input {
  background-color: transparent !important;
  border: 1px solid gray;
  font-size: 20px;
  padding: 6px;
  background-color: rgba(104, 101, 101, 0.301);
}
.input::placeholder {
  color: black;
}
.input:focus {
  outline: none;
  box-shadow: 0px 0px 20px rgba(110, 109, 109, 0.486);
}

.box select {
  background-color: rgba(104, 101, 101, 0.301);
  background-color: transparent;
  border: 1px solid gray;
  padding: 6px;
  width: 230px;
  font-size: 20px;
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}
.box select:focus {
  box-shadow: 0px 0px 20px rgba(110, 109, 109, 0.486);
}
.box:hover::before {
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.2);
}
.box select option {
  padding: 30px;
  background-color: #eb1e29;
  color: white;
}
.drop-item {
  margin: 2% 0% 0% 0%;
}
#submitModal {
  background-color: #eb1e29;
}
@media screen and (max-width: 1000px) {
  .dropdown-main {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 520px) {
  .calculator-footer {
    font-size: 120%;
  }
  .calculator-footer {
    margin: 5% 0%;
  }
}
