.footer {
  background-color: #555555;
  color: white;
}
.content-footer span {
  color: #dbdbdb;
  cursor: pointer;
}
.content-footer span:hover {
  color: white;
}
.email-input {
  padding: 6px 7px;
  width: 70%;
  border-radius: 3px;
  border: none;
  outline: none;
  color: black;
  /* font-size: 10px; */
}
.submit-footer {
  padding: 6px 7px;
  width: 70px;
  margin-top: 5px;
  color: white;
  background-color: #eb1e29;
  border: none;
  border-radius: 2px;
  padding-left: 0px;
  outline: none;
}
.content-footer {
  margin: 12% 0% 5% 0%;
}
.content-footer-submit {
  margin: 8% 0% 1% 0%;
}
.footer-item {
  margin: 2% 0%;
}
.location {
  padding: 3% 5%;
}
.location-content {
  padding: 2% 0%;
}
.location button {
  border: none;
  background-color: transparent;
}
.location button.active {
  border-bottom: 2px solid black;
}
.tab-link {
  padding: 0% 1% 1% 1%;
}
.location button:focus {
  border-bottom: 2px solid black;
  outline: none;
}
.money-image {
  width: 400px;
}
.question {
  padding: 1%;
}
.questions-heading {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 500;
}
.btn-questions {
  padding: 2.5% 10%;
  background-color: rgb(36, 52, 100);
  color: white;
  border-radius: 10px;
  border: none;
  margin: 4%;
  cursor: pointer;
}
.pair-1 {
  width: 50%;
}
.pair-2 {
  width: 75%;
}
.copyright {
  background-color: #eceef0;
  text-align: center;
  padding: 1%;
  color: #808792;
}
@media screen and (max-width: 780px) {
  .footer {
    flex-direction: column;
    align-items: center;
  }
  .content-footer {
    align-items: center;
  }
  .heading-footer {
    text-align: center;
  }
  .questions-heading {
    font-size: 2rem;
    font-weight: 500;
  }
  .money-image {
    width: 350px;
  }
  .question {
    flex-direction: column;
    padding: 5%;
  }
}
@media screen and (max-width: 600px) {
  .address {
    margin: 10% 0% 0% 0%;
  }
  .two-pair {
    flex-direction: column;
    margin: 0% 0% 0% 0%;
    width: 100% !important;
  }
  .content-footer-submit {
    margin: 8% 0% 8% 0%;
  }
  .pair-1 {
    width: 100%;
  }
  .pair-2 {
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .location-header {
    flex-direction: column;
    align-items: center;
  }
  .questions-heading {
    font-size: 1.5rem;
    font-weight: 500;
  }
  .money-image {
    width: 300px;
  }
  .content-footer {
    margin: 5% 0% 5% 0%;
  }
}
