.footer {
  background-color: #555555;
  color: white;
}
.content-footer span {
  color: #dbdbdb;
  cursor: pointer;
}
.content-footer span:hover {
  color: white;
}
.email-input {
  padding: 6px 7px;
  width: 70%;
  border-radius: 3px;
  border: none;
  outline: none;
  color: black;
  /* font-size: 10px; */
}
.submit-footer {
  padding: 6px 7px;
  width: 70px;
  margin-top: 5px;
  color: white;
  background-color: #eb1e29;
  border: none;
  border-radius: 2px;
  padding-left: 0px;
  outline: none;
}
.content-footer {
  margin: 15% 0%;
}
.content-footer-submit {
  margin: 8% 0%;
}
.footer-item {
  margin: 2% 0%;
}
.location {
  padding: 3% 5%;
}
.location-content {
  padding: 2% 0%;
}
.copyright {
  background-color: #eceef0;
  text-align: center;
  padding: 0.5%;
  color: #6d7b8a;
}
.location button {
  border: none;
  background-color: transparent;
}
.location button.active {
  border-bottom: 2px solid black;
}
.tab-link {
  padding: 0% 1% 1% 1%;
}
.location button:focus {
  border-bottom: 2px solid black;
  outline: none;
}
@media screen and (max-width: 780px) {
  .footer {
    flex-direction: column;
    align-items: center;
  }
  .content-footer {
    align-items: center;
  }
  .heading-footer {
    text-align: center;
  }
}
@media screen and (max-width: 500px) {
  .location-header {
    flex-direction: column;
    align-items: center;
  }
}
