.bike-image {
  width: 100% !important;
}
.counts {
  margin: 2% 0% 0% 0%;
  padding: 0% 0% 2% 0%;
}
.main-first {
  box-shadow: 0px 3px 10px rgba(153, 152, 152, 0.514);
}
.item:hover {
  transform: scale(1.2);
}
@media screen and (max-width: 780px) {
  .counts {
    flex-direction: column;
  }
  .bike-image {
    height: 250px !important;
  }
  .item {
    margin: 3% 0%;
  }
}
