.bike-image {
  width: 100% !important;
}
/* .image-div-main {
  background-image: url(/images/Main_Bike.jpeg);
  width: 100vw;
  height: 398px;
  background-size: cover;
} */
.counts {
  margin: 2% 0% 0% 0%;
  padding: 0% 0% 2% 0%;
}
.main-first {
  box-shadow: 0px 3px 10px rgba(153, 152, 152, 0.514);
}
.item:hover {
  transform: scale(1.2);
}
.image-div-main .earn {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: white;
  font-size: 20px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  /* text-align: center; */
}

.earn-header {
  font-size: 220%;
}
.earn-btn {
  font-size: 110%;
  padding: 4% 10%;
  margin: 5% 0% !important;
}
.image-div-main .earn-scroll {
  position: absolute;
  top: 40%;
}
@media screen and (max-width: 1000px) {
  .image-div-main .earn {
    top: 45%;
  }
  .earn-header {
    font-size: 150%;
  }
  .earn-btn {
    font-size: 90%;
    margin: 5% 0% !important;
  }
  .image-div-main .earn-scroll {
    position: absolute;
    top: 35%;
  }
}
@media screen and (max-width: 780px) {
  .image-div-main .earn {
    top: 50%;
  }
  .image-div-main .earn-scroll {
    top: 40%;
  }
  .counts {
    flex-direction: column;
  }
  .bike-image {
    height: 250px !important;
  }
  .item {
    margin: 3% 0%;
  }
  .earn-header {
    font-size: 100%;
  }
  .earn-btn {
    font-size: 90%;
    padding: 3% 8%;
    margin: 5% 0% !important;
  }
}
@media screen and (max-width: 500px) {
  .earn-header {
    font-size: 120%;
  }
  .earn-btn {
    font-size: 80%;
    margin: 5% 0% !important;
    padding: 3% 6%;
  }
  .image-div-main .earn {
    left: 50%;
    width: 100%;
  }
}
