.working-header {
  margin: 5%;
}
.working-text {
  font-size: 120%;
}
.btn-working {
  padding: 1% 1.5%;
  background-color: rgb(71, 74, 255);
  color: white;
  border-radius: 10px;
  border: none;
  margin: 4%;
  font-size: 120%;
}
