.working {
  box-shadow: 1px 3px 10px rgba(153, 152, 152, 0.514);
  background-color: rgba(246, 246, 246, 255);
}
.working-header {
  padding: 5%;
}
.working-text {
  font-size: 120%;
}
.btn-investment {
  padding: 1% 1.5%;
  background-color: rgb(0, 128, 128);
  color: white;
  border: none;
  margin: 3%;
  font-size: 120%;
  outline: none;
}
.btn-investment:focus {
  outline: none;
}
